# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Vite output
dist/
*.local

# IDE and Editor settings
.vscode/
.idea/
.DS_Store

# Package lock files (if using Yarn, you can omit package-lock.json)
package-lock.json

# Miscellaneous
*.log

